<ion-view title="Payments" id="payments">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <div class="container has-header">
      <div id="pnm_header">
          <button nav-clear class="button button-icon icon ion-home" onclick="window.location.href = '#/app/dashboard'"></button>
          <h1>Payments</h1>
      </div>
      <div id="pnm_content" ng-controller="PaymentsCtrl">
          <ion-content id="biller_content" push-search>
              <div id="sites" class="clearfix">
                  <ion-list>
                      <ion-item ng-repeat="payment in payments">
                          {{ payment.id }} -  {{ payment.id }}
                      </ion-item>
                  </ion-list>
              </div>
          </ion-content>
      </div>
  </div>
</ion-view>
